* { 
   margin: 0%;
   padding: 0%;
   box-sizing: border-box;
   font-family: Arial, Helvetica, sans-serif;
}
body {
    background: #f5f5f5
}
.contact-section{
    padding: 60px 20px;
    text-align: center;
}
.title {
    margin-bottom: 30px;
    color: #333;
}
.contact-card{
    max-width: 900px;
    margin: auto;
    background: #1f1f1f;
    display: flex;
    color: #fff;
    border-radius: 6px;
    overflow: hidden;

}
.form-area {
    flex: 1;
    padding: 30px;



}
.form-area h3 {
    margin-bottom: 20px;
}
.form-area input,
.form-area textarea {
    width: 300px;
    padding: 12px;
    margin-bottom: 15px;
    background: transparent;
    border: 1px solid #444;
    color: #fff;
    outline: none;
}
.form-area textarea{
    resize: none;
    height: 120px;
    width: 100%;
}
.form-area button {
    background: #f39c12;
    color: #fff;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: bold;
}
.form-area button:hover {
    background: #e08e0b;

}
.info-area {
    flex: 1;
    padding: 30px;
    background: #2a2a2a;
}
.info-area h3 {
    margin-bottom: 10px;
}
.info-area p {
    font-size: 14px;
    margin-bottom: 20px;
    color: #ccc;
}
.info-area ul {
    list-style: none; 
}
.info-area li {
    margin-bottom: 15px;
    font-size: 14px;
    color: #ddd;
}